/*CSS reset inicio*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/*CSS reset fim*/

.header{
    height: 10vh;
    width: 100vw;
    background-color: greenyellow;
    display: inline-block;
}

.navBar{
    line-height: 10vh;
    vertical-align: middle;
}

.navOption{
    margin-right: 2vw;
    float: right;
}

.navLogo{
    height: 10vh;
    padding: 2vh 1vw;
    float: left;
}

.content{
    height: 90vh;
    width: 100vw;
    text-align: center;
    background-color: aquamarine;
}

.cardOptions{
    width: 80vw;
    margin-top: 5vh;
    display: inline-block;
}

.card{
    height: 260px;
    width: 18vw;
    margin: 1vh 1vw;
    background-color: white;
    float: left;
}